body,
ul,
li,
h1,
h2,
a,
p {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.button {
  position: absolute;
  top: 87%;
  left: 3%;
}
.button a {
  color: black;
  background-color: orange;
  border: 5px solid white;
  padding: 6px 25px;
  display: inline-block;
  border-radius: 36px;
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
}
.button a:visited {
  color: black;
}
body {
  background-image: url("/LunchrouletteFrontendBackend/LunchrouletteFrontend/img/mainMenuBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome h1 {
  position: absolute;
  color: white;
  font-size: 45px;
  top: 10%;
  left: 5%;
}
.formSection {
  position: absolute;
  top: 30%;
  left: 30%;
  color: black;
  background-color: orange;
  border: 7px solid white;
  padding: 6px 25px;
  border-radius: 36px;
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
}
.formSection .addPersonForm input [type=text] {
padding: 10px;
}
