body,
ul,
li,
h1,
h2,
a,
p {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.button {
  position: absolute;
  top: 89%;
  left: 16%;
}
.button a {
  color: black;
  background-color: orange;
  border: 5px solid white;
  padding: 6px 25px;
  display: inline-block;
  border-radius: 36px;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
}
.button a:visited {
  color: black;
}
.button1 {
  border-radius: 36px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.button1:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}
body {
  background-image: url("/LunchrouletteFrontendBackend/LunchrouletteFrontend/img/GoBackButtonbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome h1 {
  position: absolute;
  color: white;
  font-size: 45px;
  top: 10%;
  left: 5%;
}
.formSection {
  position: absolute;
  top: 30%;
  left: 30%;
  color: black;
  background-color: orange;
  border: 7px solid white;
  padding: 8px 25px;
  border-radius: 36px;
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
}
/*
.formSection .addPersonForm input [type="text"] {
  padding: 20px;
  border: 7px solid lightblue;
  border-radius: 36px;
}
.test input [type="text"] {
  padding: 20px;
  border: 7px solid lightblue;
  border-radius: 36px;
}
input [type="submit"] {
  color: orange;
  background-color: white;
  border: 2px solid black;
  border-radius: 36px;
} */
input {
  background-color: blanchedalmond;
  border-radius: 36px;
  border: 2px solid lightskyblue;
  padding: 6px;
}
.submitb {
  border-radius: 36px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.submitb:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-3px);
}
::placeholder {
  color: rgb(247, 188, 78);
}
