.frontPage{
    position: relative;
}
.backgroundImage img{
   max-width: 65%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;

}
.frontPage .welcome{
    position: absolute;
    top: 30%;
    font-size: 50px;
    left: auto;
    right: auto;
}

.frontPage h1{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}
