.frontPage{
    position: relative;
}
.backgroundImage img{
   max-width: 65%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;

}
.frontPage .welcome{
    position: absolute;
    top: 30%;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


