body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial;
}
/*header {
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
header h1 {
  color: cadetblue;
  border: 5px solid white;
  background-color: orange;
  padding: 6px 25px;
  display: inline-block;
  border-radius: 36px;
}
.background-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: -10; 
} */
body {
  background-image: url("/LunchrouletteFrontendBackend/LunchrouletteFrontend/img/mainMenuBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*.banner {
position: relative;
}*/ /*
.banner .welcome {
  color: black;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 20%;
} */
.banner .welcome h2 {
  color: black;
  font-size: 34px;
  z-index: 2;
  position: absolute;
  top: 27%;
  left: 3%;
}
.banner .welcome img {
  width: 35em;
  height: 13em;
  position: absolute;
  top: 18%;
  z-index: 1;
} /*
.banner .please-choose {
  color: black;
  padding: 30px;
  position: absolute;
  right: 7%;
  top: 30%;
}*/
.banner .please-choose img {
  width: 33em;
  height: 10em;
  position: absolute;
  right: 10px;
  top: 34%;
  z-index: 1;
}
.banner h3 {
  font-size: 24px;
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 38%;
}
.banner h2 span {
  font-size: 1.3em;
}
nav ul {
  white-space: nowrap;
  margin: 0 auto;
  position: absolute;
  top: 87%;
}
nav li {
  display: inline-block;
  font-size: 24px;
  padding-left: 55px;
}
.main-nav .button a {
  color: black;
  background-color: orange;
  border: 5px solid white;
  padding: 6px 25px;
  display: inline-block;
  border-radius: 36px;
  text-decoration: none;
  font-weight: normal;
}
.main-nav .button a:visited {
  color: black;
}
.button1 {
  border-radius: 36px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  }
.button1:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}
/*
.main-nav {
    position: absolute; 
    padding: 30px;
    top: 87%;
} */
