.button a {
  color: black;
  background-color: white;
  border: 5px solid white;
  padding: 6px 25px;
  display: inline-block;
  border-radius: 36px;
  text-decoration: none;
}
.button a:visited {
  color: black;
}